.createPost{
  max-height: 10%;
}
.createPost form{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  background: #1C1B1F;
}

.createPost textarea{
  display: flex;
  padding: 4px 12px;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  width: 100%;
}
  
  input[type="file"] {
    padding: 5px;
    font-size: 12px; /* Reduce font size */
    background-color: #282828;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .success-message {
    color: green;
  }
  
  .error-message {
    color: red;
  }
  
  .submit-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .submit-button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
  }
  